.ajout_texte, .afficher_texte, .ouvrir_doc, .agrandir, .avancer, .rembobiner, .cocher, .suppr, .logotype_swans, .cursor, .fleche_bas, .fleche_haut, .fleche_gauche, .fleche_droite, .toggle_waveform, .toggle_video, .attention, .info, .valide, .imprim, .suppr2, .engrenage, .pause, .play, .stop, .save, .afficher_texte, .video, .audio{
	background: url(sprites.png) no-repeat;
}

.ajout_texte{
	background-position: 0 -250px ;
	width: 118px;
	height: 46px;
}

.afficher_texte{
	background-position: -100px 0;
	width: 68px;
	height: 34px;
}

.ouvrir_doc{
	background-position: -100px -50px ;
	width: 60px;
	height: 34px;
}

.agrandir{
	background-position: -100px -100px ;
	width: 68px;
	height: 34px;
}

.avancer{
	background-position: 0 -50px ;
	width: 68px;
	height: 34px;
}

.rembobiner{
	background-position: 0 0;
	width: 68px;
	height: 34px;
}

.cocher{
	background-position: -100px -150px ;
	width: 46px;
	height: 27px;
}

.suppr{
	background-position: 0 -300px ;
	width: 32px;
	height: 16px;
}

.logotype_swans{
	background-position: -200px 0;
	width: 197px;
	height: 37px;
}

.cursor{
	background-position: -100px -200px ;
	width: 12px;
	height: 21px;
}

.fleche_bas{
	background-position: -200px -50px ;
	width: 31px;
	height: 16px;
}

.fleche_haut{
	background-position: -200px -100px ;
	width: 31px;
	height: 16px;
}

.fleche_gauche{
	background-position: -250px -50px ;
	width: 16px;
	height: 31px;
}

.fleche_droite{
	background-position: -250px -100px ;
	width: 16px;
	height: 31px;
}

.toggle_waveform{
	background-position: -150px -250px ;
	width: 88px;
	height: 34px;
}

.toggle_video{
	background-position: -150px -200px ;
	width: 88px;
	height: 34px;
}

.attention{
	background-position: -300px -350px ;
	width: 32px;
	height: 33px;
}

.info{
	background-position: -250px -350px ;
	width: 32px;
	height: 33px;
}

.valide{
	background-position: -200px -350px ;
	width: 32px;
	height: 33px;
}

.imprim{
	background-position: -250px -200px ;
	width: 68px;
	height: 34px;
}

.suppr2{
	background-position: 0 -350px ;
	width: 44px;
	height: 22px;
}

.engrenage{
	background-position: -50px -350px ;
	width: 44px;
	height: 22px;
}

.pause{
	background-position: 0 -200px ;
	width: 72px;
	height: 36px;
}

.play{
	background-position: 0 -150px ;
	width: 72px;
	height: 36px;
}

.stop{
	background-position: 0 -100px ;
	width: 72px;
	height: 36px;
}

.save{
	background-position: -250px -250px ;
	width: 68px;
	height: 34px;
}

.afficher_texte{
	background-position: -150px -150px ;
	width: 68px;
	height: 34px;
}

.video{
	background-position: -200px -300px ;
	width: 22px;
	height: 22px;
}

.audio{
	background-position: -250px -300px ;
	width: 22px;
	height: 22px;
}

