<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Innova">
        <title>{% block title %}Innotation{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/innovaswans/css/bootstrap.css' 'bundles/innovaswans/css/bootstrap-switch.css' 'bundles/innovaswans/css/swans.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container content-container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title"> <a href="{{ path('home') }}" title="Accueil">Innotation</a></h1>
                </div>
            </div>
            <hr/>
            {% block body %} 
            {% endblock %}
        </div>
        {% block javascripts  %}
            {% javascripts 
                '@InnovaSwansBundle/Resources/public/js/jquery-1.11.2.js' 
                '@InnovaSwansBundle/Resources/public/js/jquery.restfulizer.js'
                '@InnovaSwansBundle/Resources/public/js/bootstrap.js'
                '@InnovaSwansBundle/Resources/public/js/bootstrap-switch.js'
                '@InnovaSwansBundle/Resources/public/js/bootbox.js'  
                '@InnovaSwansBundle/Resources/public/js/JavascriptUtils.js'
                '@InnovaSwansBundle/Resources/public/js/StringUtils.js'
                '@InnovaSwansBundle/Resources/public/js/WavesurferUtils.js'
                '@InnovaSwansBundle/Resources/public/js/swans.js' 
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %} 
    </body>
</html>
