body { font-family:"Trebuchet MS", Arial, sans-serif; font-size:70%; margin:0px; padding:30px 30px 30px 30px;}
a:link, a:visited {background:transparent; font-weight:bold; text-decoration:underline; color:#366CAA;}
img {border-style:none;}
form {margin:0px; padding:0px;}
select { font-size:85%;}

.clearboth {clear:both; height:1px; overflow:hidden;}
.dont_print {display:none;}

#global_bar {display:none;}
#nav_tools {display:none;}

#pagelayout_left {width:75%; overflow:hidden; float:left;}
#pagelayout_right {width:24%; margin-left:1%; overflow:hidden; float:left;}

#nav_primary {padding:5px 0px 5px 0px; border-bottom:1px solid gray;}
#nav_primary .item {display:inline; margin-right:20px;}
#nav_primary a {text-decoration:none;}

.nav_secondary {padding:5px 0px 5px 0px;}
.nav_secondary .item {display:inline; margin-right:20px;}
.nav_secondary a {text-decoration:none;}

.tertiary_brand {display:none;}
.nav_tertiary {padding:15px 0px 5px 0px;}
.tertiary_head {font-weight:bold; font-size:120%;}
.nav_tertiary .item {padding:5px 0px 5px 0px;}
.nav_stertiary a {text-decoration:none;}

#content_area {border-bottom:1px solid gray;}

.promo_shell {}
.promo_head {padding:15px 0px 0px 0px; font-weight:bold;}
.promo_title {padding:5px 0px 0px 0px; font-weight:bold; font-size:120%;}
.promo_image {display:none;}
.promo_copybox {padding:5px 0px 5px 0px; }

.section_shell {}
.section_head {padding:15px 0px 0px 0px; font-weight:bold; font-size:120%;}
.section_title {padding:5px 0px 0px 0px; font-weight:bold; font-size:120%;}
.section_image {float:left; margin-right:15px;}
.section_copybox {padding:5px 0px 5px 0px;}
.section_footer {padding:5px 0px 5px 0px; font-weight:bold; }

.link_headline img {height:14px; margin-left:3px; vertical-align:bottom;}

.button {}
.button a {text-decoration:none;}
.button_shell {float:left; border:1px solid #366CAA;}
.button_inner  {float:left;}
.button_label {float:left; padding:3px 8px 3px 8px; font-size:90%; font-weight:bold; }
.button img {display:none;}


#promo_bar {display:none;}
#add_300x250 {display:none;}
#add_728x90 {display:none;}
#sitemap_bar {display:none;}
#foot_bar {clear:both; padding-top:2px;}
#foot_bar .item {display:none;}
#foot_bar a {text-decoration:none;}
#foot_bar .copy_item {display:block; float:right; margin-right:20px; font-size:80%;}

#flashApp {display:none;}

.topstory_headline {font-weight:bold; font-size:165%; line-height:110%;}

.sched {display:none;}
#change_location {float:right;}
.plocation {padding-top:15px; font-weight:bold; font-size:120%;}
.plink {display:none;}
.pperiod {padding-top:15px; font-weight:bold; font-size:120%;}
.ptitle, .ptime {display:inline; margin-right:20px;}
.pgenre {float:right;}
.pdetails {margin-bottom:10px;}


#when_to_watch_reveal a {color:#000000; text-decoration:none;}
#when_to_watch_reveal .ptitle {color:#366CAA; font-size:120%; font-weight:bold;}
#when_to_watch_ordered .ptitle {color:#366CAA; font-size:120%; font-weight:bold;}
#when_to_watch_unordered .ptitle {color:#366CAA; font-size:120%; font-weight:bold;}

#when_to_watch_schedule a {color:#000000; text-decoration:none;}
#when_to_watch_schedule .sched {display:block;}
#when_to_watch_schedule .ptitle {color:#366CAA; font-size:120%; font-weight:bold;}

#calendar {display:none;}
#time_anchors {display:none;}

#pagelayout_right {display:none;}
#primary_nav_bar {display:none;}
#section_story_copy blockquote {padding:0; margin:0; font-size:110%;}
#section_banner {display:none;}
#tools {display:none;}
.add_728x90 {display:none;}
.section_nav {display:none;}
.module-tools {display:none;}