#flashApp {margin-top:0px; margin-left:0 !important;}

.tertiary_inner {background-color:#5eb5de;}
.tertiary_head {padding:0 0 0 0px !important;}
.section {background-color:#2D536B !important;}
.promo {background-color:#2D536B !important;}

.section_subhead {color:#5380c1; font-weight:bold; margin-top:10px;}
.section_head {color:#ffffff !important;}

.tertiary_inner {background-color:#AE2F07;}
.tertiary_head {color:#FFFFFF;}
.nav_tertiary a:link {color:#5380c1;}
.nav_tertiary a:visited {color:#5380c1;}
.nav_tertiary a:hover {color:#000000; text-decoration:none;}
.nav_tertiary a:active {color:#000000; text-decoration:none;}


#transcriptBE {padding:7px 7px 0px 7px; margin:0px 0px 20px 0px;}
#transcriptBE b {font-weight:normal; color:#2D536B;}
.helptitleBE {padding:7px 7px 7px 7px; background:#647D8B; color:#FFFFFF;}
.helpcopyBE {padding:7px 7px 20px 50px; background:#ECF1F6 url(http://australianetwork.com/businessenglish/img/deco_help1.gif) 7px 7px no-repeat;}
.helpcopyBE2 {padding:7px 7px 20px 50px; background:#ECF1F6;}
.helpextraBE {padding:7px 7px 20px 50px; background:#E2E3E4 url(http://australianetwork.com/businessenglish/img/deco_help2.gif) 7px 7px no-repeat;}
.helpextraBE2 {padding:7px 7px 20px 50px; background:#E2E3E4;}
.helpextraBE b {font-weight:normal; color:#2A7713;}