parameters:
#    innova_swans.example.class: Innova\SwansBundle\Example

services:
    innova.exercise.manager:
        class: Innova\SwansBundle\Manager\ExerciseManager
        arguments:
            entityManager: @doctrine.orm.entity_manager
            kernelRoot: %kernel.root_dir%
    innova.dictionary.manager:
        class: Innova\SwansBundle\Manager\DictionaryManager
        arguments:
            entityManager: @doctrine.orm.entity_manager
    innova.annotation.manager:
        class: Innova\SwansBundle\Manager\AnnotationManager
        arguments:
            entityManager: @doctrine.orm.entity_manager
    innova.region.manager:
        class: Innova\SwansBundle\Manager\RegionManager
        arguments:
            entityManager: @doctrine.orm.entity_manager
    innova.twig.innotation_extension:
        class: Innova\SwansBundle\Twig\InnotationExtension
        tags:
            - { name: twig.extension }
    
